<div class="columns">
  <%= render "search_form"%>
</div>

<% if @flights.any? %>
  <div class="columns">
    <div class="column is-half is-offset-3 box mt-5">
      <%= form_with url: "booking/new", method: :get do |f|%>
        <%= render @flights, {f: f}%>
        <%= f.submit "Book", class:"button is-success"%>
      <% end %>
      
    </div>
  </div>
<% end %>





