<div class="column">
  <article class="message">
    <div class="message-header">
      <p>Passenger Info: </p>
    </div>
    <div class="message-body">
      <div>
        <strong>Name: </strong>
        <%= passenger.name%>
      </div>
      <div>
        <strong>Email: </strong>
        <%= passenger.email %>
      </div>
    </div>
  </article>
</div>
